.Card{
    font-size: 16px;
    margin: 5 0;

    .showImage {
        width: 210px;
    }

    @media all and (min-width: 512px) {
        // margin: 0 60px;
        display: flex;
        flex-direction: row;
    }
    
    .card-info{
        margin-left: 3px;

        .link{
            color: $primary-light;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}