.Card {
  font-size: 16px;
  margin: 5 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: center;

  @media all and (min-width: 512px) {
    // width: 25%;
    font-size: 15px;
  }

  .showImage {
    border-radius: 4%;
    width: 210px;
    @media all and (min-width: 512px) {
      width: 125px;
    }
  }

  //   @media all and (min-width: 512px) {

  //   }

  .card-info {
    width: 125px;
    text-align: left;
    margin: auto;
    font-family: $font-primary;
    font-size: 12px;

    .title {
      font-weight: bolder;
      font-size: 15px;
      margin-bottom: 5px;
    }

    .genres {
      margin-bottom: 3px;
    }

    .type {
      margin-bottom: 5px;
    }

    .dDay {
      margin-bottom: 3px;
    }

    .link {
      color: $primary-light;
      font-weight: bold;
    }
  }
}
