@import "./variables.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./searchbar.scss";
@import "./logo.scss";
@import "./card.scss";
@import "./filter.scss";
@import "./results.scss";
@import "./loginModal.scss";
@import "./signup.scss";
@import "./modalBackdrop.scss";

html,
body,
ul,
li,
h3,
h2,
h1,
a,
p {
  margin: 0;
  padding: 0;
}


body {
  background-color: $primary-dark;
  background-image: linear-gradient(#0e2439, #1f364d);
}

.allContainer {
  margin: 0 20px;
  

  @media all and (min-width: 512px) {
    margin: 0 60px;
  }
}
