@import './footer.scss';
@import './nav.scss';
@import './searchbar.scss';
@import './variables.scss';
@import './logo.scss';
@import './card.scss';
@import './filter.scss';
@import './results.scss';

html,
body,
ul,
li,
h3,
h2,
h1,
a,
p {
	margin: 0;
	padding: 0;
}

.allContainer {
	margin: 0 20px;

	@media all and (min-width: 512px) {
		margin: 0 60px;
	}

}


