.LoginModal-open {
  color: $secondary-dark;
  font-family: $font-primary;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: $primary-dark;
  padding-left: 25px;
  padding-top: 20px;
  border-radius: 5%;
  border: outset 5px $primary-dark;
  z-index: 10;

  .modal-x {
    position: absolute;
    color: $secondary-dark;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 8px;
    border: none;
    background-color: $primary-dark;
  }

  .loginButton {
    margin-top: 10px;
  }

  //   @keyframes modalAnimation {
  //     0% {
  //       opacity: 0;
  //       transform: translateY(-20px);
  //     }
  //     100% {
  //       opacity: 1;
  //       transform: translateY(0);
  //     }
  //   }
}

.modal-closed {
  display: none;
}
