.ResultsContainer {
  color: $primary-light;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  .active {
    font-size: 33px;
    text-align: center;
    margin: 18px 0px;
    opacity: 1;
  }

  .not-active {
    display: none;
  }

  .showContainer{
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    padding-bottom: 10px;

    &:last-of-type {
      border: none;
    }
  }
}
