.ResultsContainer {
  color: $primary-light;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  .showContainer {
    border-bottom: 5px $secondary-dark;
  }

  .not-active-title {
    opacity: 0;
  }

  .not-active {
    display: none;
  }

  .active-title {
    opacity: 1;
    font-size: 45px;
    text-align: center;
    transition: all 0.25s ease-in;
  }

  .active {
    animation: appear 1s ease-in-out;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
